body {
  font-family: Calibri, Helvetica, sans-serif;
  margin: 0;
}

.nav-links {
  top: 0;
  right: 10px;
  position: fixed;
  width: calc(25% - 18px);
  text-align: right;
}

.toc {
  top: 0;
  left: 10px;
  position: fixed;
  width: calc(25% - 18px);
  font-size: 0.9em;
}

main {
  margin: auto;
  width: 50%;
  font-size: 16px;
}

a {
  color: #CC3333;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}
