body {
  font-family: Calibri, Helvetica, sans-serif;
  margin: 0;
}

/* 3 column layout */

.nav-links, .toc {
  font-family: Calibri, Helvetica, sans-serif;
  top: 0;
  left: 10px;
  position: fixed;
  width: calc(25% - 18px);
  font-size: 0.9em;
}

.nav-links {
  border-bottom: 1px solid #eee;
  text-align: right;
  z-index: 10;
}

.toc {
  top: 1.5em;
  text-align: left;
}

.nav-links > a {
  margin-right: 8px;
}

main {
  position: fixed;
  padding: 0 8px;
  left: 25%;
  width: 50%;
  height: 100%;
  font-size: 16px;
  overflow-y: scroll;
}

/* phones, etc. -- no toc ; content at full width */
@media (max-width: 700px) {
  .toc {
    display: none;
  }

  .nav-links {
    position: relative;
    left: 0;
    width: 100%;
  }

  main {
    left: 0;
    width: calc(100% - 15px);
  }
}

/* tablets, etc. -- with toc ; content at 75% */
@media (min-width: 701px) and (max-width: 1090px) {
  main {
    width: calc(75% - 15px);
  }
}

/* non-epub styling */

:not(main.epub) a {
  color: #CC3333;
  text-decoration: none;
}

:not(main.epub) a:hover {
  text-decoration:underline;
}
