.idea/

.basex
.basexgui

bin/
data/
etc/
lib/
repo/
BaseX.jar
CHANGELOG
readme.txt

src/hello-world.xq
webapp/WEB-INF/
webapp/static/.ignore
webapp/static/basex.svg
webapp/static/chat.js
webapp/chat/
webapp/dba/
